.theme1{
    background-color: blueviolet !important;
}

.theme2{
    background-color: darkolivegreen !important;
}

.theme3{
    background-color: darkgoldenrod !important;
}

.theme4{
    background-color: #255c34 !important;
}

.theme5{
    background-color: #909090 !important;
}

.theme6{
    background-color: #282c34 !important;
}